<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.luongnguyen.facedetect">
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera.autofocus"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera.front"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera.front.autofocus"
        android:required="false" />


    <application
        android:allowBackup="true"
        tools:replace="android:appComponentFactory"
        android:appComponentFactory="android.support.v4.app.CoreComponentFactory"
        android:icon="@mipmap/facedetect_logo"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:testOnly="true"
        android:label="FaceDetect2">
        <activity
            android:name=".Welcome"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="landscape">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="landscape"
            android:label="InputFace">

        </activity>
        <activity
            android:name=".InputFace"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="landscape"
            android:label="InputFace">

        </activity>
        <activity
            android:name=".Gallery"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="landscape"
            android:label="Student List">

        </activity>
        <activity
            android:name=".Recognizer"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="landscape"
            android:label="Recognizer">

        </activity>
        <activity
            android:name=".Methods"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="landscape"
            android:label="Methods">

        </activity>
        <activity
            android:name=".CSVContent"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="landscape"
            android:label="CSVContent">

        </activity>

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.luongnguyen.facedetect.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <!-- ressource file to create -->
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths"/>

        </provider>


    </application>

</manifest>